













*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ecf2f8;
}
#testimonial-grid-container{
    padding: 5% 3%;
}
#testimonial-1{
    background-color: #7541c8; 
    color: #FFFFFF;
}
#testimonial-2{
    background-color:#48556a;
    color: #FFFFFF;
}
#testimonial-3{
    background-color: #FFFFFF; 
}
#testimonial-4{
    background-color: #19212e;
    color: #FFFFFF;
}
#testimonial-5{
    background-color: #FFFFFF;   
}
.grid-item{
    margin-bottom: 20px;
    padding: 20px;
}

@media (min-width: 576px){
    #testimonial-grid-container{
        display: flex;
    }
    #testimonial-5{
        flex-basis: 25%;
    }
    #main-left{
        display: flex;
        flex-direction: column;
    }
    #top{
        display: flex;
        flex-basis: 50%;
    }
    #bottom{
        display: flex;
        flex-basis: 50%;
    }
    #testimonial-1{
        
    }
    #testimonial-2{
        
    }
    #testimonial-3{
        
    }
    #testimonial-4{
        
    }

}